* {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px black;
    color: white;

}

.header {
    width: 99%;
    height: 75px;
    top: 0px;
    position: absolute;
    background-color: rgb(64, 108, 255);
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    vertical-align: bottom;
}

.header img {
    margin-left: 10px;
    width: 60px;
    height: 60px;
}

.header h1 {
    margin-left: 15px;
}

.pildid {
    background-color: slategray;
    width: 75%;
    margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    height: 400px;
    display: flex;
    justify-content: space-between;
    
}

.footer {
    position:absolute;
    bottom: 0px;
    width: 99%;
    height:75px;
    background-color: rgb(64, 108, 255);
}